.repre {
    background-color: #F1EDF9;
    width: 100%;
    height: 340px;
    display: flex;
    position : absolute;
}

@font-face {
    font-family: 'nav';
    src: url('../fonts/MICEGothic.ttf');
}

.left-items {
    width: 40%;
    float : left;
    position: relative;
}

.left-items #repreImg {
    width: 250px;
    height:200px;
    top : 30px;
    left : 400px;
    display: flex;
    position: relative;


}
.left-items > #view-more {
    background-color: gainsboro;
    top : 50px;
    left : 400px;
    border-radius: 10px;
    font-size: 20px;
    padding : 15px;
    font-family: 'nav';
    position : relative;

}
.left-items > #view-more:hover {
    cursor: pointer;
}

.right-items {
    /* background-color: royalblue; */
    width: 60%;
    float: right;
    position : relative;

}
.right-items #top-title {
    background-color: #A97BF5;
    left : 80px;
    border-radius: 20px 20px 0 0;
    width: 1000px;
    height: 30px;
    justify-content: center;
    text-align: center;
    font-family: 'nav';
    position: relative;
}

.right-items #top-title > h5{
    top : 6px;
    position: relative;
    color : white;
}


.right-items #box-img {
    background-color: gainsboro;
    border-radius: 0 0 10px 10px;
    width: 1000px;
    height:270px;
    margin : 0 ;
    padding : 0;
    top : -5px;
    left : 80px;
    border : 0;
    outline : 0;
    position : relative;
}
.right-items #box-img .infoFirst {
    float: left;
    top : 5px;
    width: 250px;
    height : 250px;
    position: relative;
    border-radius: 15px;
    left : 10px;

}
.right-items #box-img .info-text{
    width:auto;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 24px;

}
.right-items #box-img .info-text > h6{
    top : 40px;
    padding : 0px;
    margin : 0px;
    color: purple;
    font-family: 'nav';
    position : relative;
}

.right-items #box-img .info-text > h6 > img{
    top : 7.5px;
    left : -10px;
    padding : 0px;
    margin : 0px;
    color: purple;
    font-family: 'nav';
    position : relative;
}

.right-items #box-img .info-text > h3{
    top : 70px;
    padding : 0px;
    margin : 0px;
    font-family: 'nav';
    position : relative;

}
.right-items #box-img .info-text > h5{
    top : 50px;
    padding : 0px;
    margin : 0px;
    position : relative;
    font-family: 'nav';
    font-size: 18px;

}

.right-items #box-img .infoFirst:hover{
    cursor: pointer;
}